#animation {
  width: 70px;
  height: 47px;
  /* background: #92B901; */
  /* color: #ffffff; */
  position: relative;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  animation: animation 5s 1;
  -moz-animation: animation 5s 1;
  -webkit-animation: animation 5s 1;
  -o-animation: animation 5s 1;
  border-radius: 5px;
  -webkit-border-radius: 5px
}

@keyframes animation {
  0% {
    transform: rotate(0deg);
    left: 0px;
  }
  50% {
  transform: rotate(0deg);
  left: 500px;
  }
  55% {
    transform: rotate(0deg);
    left: 500px;
  }
  70% {
    transform: rotate(0deg);
    left: 500px;
  }
  100% {
    transform: rotate(0deg);
    left: 0px;
  }
}



h5 {
    color: white;
}

p {
    color: white;
}

body, html {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    transform-style: preserve-3d; 
  }
  
  
  main {
    /* display: block; */
    overflow-x: hidden;
    height: 100vh;
    max-height: 100%;
    perspective: 1px;
    perspective-origin: center top;
    scroll-behavior: smooth;
  }
  
  
  header {
    height: 120vh;
    transform: translateZ(-1px) scale(2.03);
    padding: 1px 0;
    margin: 0 auto;
    background-image: url('images/IMG_1215.jpg');
    filter: grayscale(100%);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
  }

  
 
  
  section {
    height: auto;
    font-family: "Courier New", Courier, monospace;
    padding: 20px;
    align-content: center;
    transform: translateZ(0);
    background: white;
  }
    h1 {
      font-family: Verdana, Geneva, sans-serif;
      text-transform: uppercase;
      padding: 10px;
    }
    p {
      padding: 10px;
    }
  
  
  
  














/* .img-respondsive {
    position: relative;
}

.img-respondsive::before {
content: "";
position: absolute;
top: 0; 
left: 0;
width: 100%; 
height: 100%;
background-image: url(./images/IMG_1215.jpg);
filter: grayscale(100%);
background-size: cover;
} */

